{% load static %}

<html lang='pt-BR'>
    <head>
        <title>Meu primeiro blog</title>
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
        <link rel="stylesheet" type="text/css" href="{% static 'css/blog.css' %}">
        <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
        <meta charset="utf-8">
        <meta name="author" content="Matheus Soares Martins">
        <meta name="description" content="Página inicial do meu blog de teste do Django.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div class="page-header">
            <h1><a href="/">Meu primeiro blog</a></h1>
            {% if  user.is_authenticated %} <!-- Faz com que a opção de criar novos posts estejam disponíveis apenas para usuários que estejam logados. -->
                <a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a><!-- A classe "glyphicon glyphicon-plus" é fornecida pelo tema (bootstrap) que estamos usando, e nos mostrará um sinal de mais. -->
            {% endif %}
        </div>

        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>
