<html lang='pt-BR'>
    <head>
        <title>Meu primeiro blog</title>
        <meta charset="utf-8">
        <meta name="author" content="Matheus Soares Martins">
        <meta name="description" content="Página inicial do meu blog de teste do Django.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>

    <body>
        <div>
            <h1><a href="/">Meu primeiro blog</a></h1>
        </div>

        {% for post in posts %}
           <div>
                <h2><a href="">{{post.title}}</a></h2>
                <p>{{post.text|linebreaksbr}}</p>
                <p>Data de publicação: {{post.published_date}}</p>
           </div>
        {% endfor %}
    </body>
</html>