{% extends 'blog/base.html' %}

{% block content%}
    {% for post in posts %}
        <div class="post">
            <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a></h2><!--pk=post.pk significa que pegará o post_detail do post que tenha a chave primária (pk) igual ao post atual.-->
            <p>{{ post.text|linebreaksbr }}</p><!-- O line breaks serve para converter quebras de linhas em parágrafos -->
            <div class="date">
                <p>published: {{ post.published_date }}</p>
            </div>
        </div>
    {% endfor %}
{% endblock%}
                